.queenhub__navbar{
    display: flex;
    background: #D498CA;
    margin: 0;
    padding-bottom: 0rem;
    text-align: center;
}  
.queenhub__navbar-container{
    display: flex;
    margin-bottom: 1rem;
}

.queenhub__navbar-container_logo{
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 8rem;
    margin-bottom: 0rem;
    
    
}

.queenhub__navbar-container_logo img{
    
     margin-left: 3rem;
    width: 200px;
    height: 40px;
    left: 19px;
    top: 42px;
}

.queenhub__navbar_links{
    display: flex;
    justify-content: flex-end;
   

}
